header {
  background-color: #282c34;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  font-size: 20px;
  font-weight: 500;
}

.main {
  display: flex;
  height: 100vh; /*calc(100vh - 60px);*/
  overflow: hidden;
}

.rootVis {
  height: 100%;
  border-right: 1px solid #dfdfdf;
  margin-right: 50px;
}
.vis-network {
  border: none;
  outline: none;
}

.col:nth-child(1) {
  flex: 70%;
  position: relative;
}
.col:nth-child(2) {
  flex: 30%;
  position: relative;
}


/* Admin */
.admin {
  height: 100vh;
  overflow-y: auto;
}
form {
  padding: 50px 0;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.formRow {
  margin-bottom: 25px;
  padding-top: 25px;
  display: flex;
}
.formRow+ .formRow {
   border-top: 2px solid #dfdfdf;
}


input[type=text], select {
    flex: 1 1 auto;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    padding: 0 10px;
    margin-bottom: 5px;
    background: #fff;
    width: 200px;
}


input[type=submit] {
  border: none;
  color: #fff;
  background:#e04c6c;
  padding: 10px 30px; 
  border-radius: 5px;
  margin-top: 10px;
  text-transform: uppercase;
  margin-right: 10px;
}

.button {
  border: 1px solid #282c34;
  background:#fff;
  padding: 10px 30px;
  border-radius: 5px;
  text-transform: uppercase;
}

.button--download {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  margin: 10px 0;
  background: #517cf3;
  border: #517cf3;
  font-weight: 500;
}

button.delete {
  border-color: #e04c6c;
}

canvas {
  width: auto;
  height: 740px;
}

pre {
  font-size: 13px;
  line-height: 1;
}
.admin pre {
  float: left;
  margin-right: 30px;
}

.actions {
  position: absolute;
  right: 0;
  height: 100vh;
  top: 0;
  padding: 20px 10px;
  text-align: center;
}

.zoomIn , .zoomOut, .showGrid {
  width: 35px;
  height: 35px;
  display: block;
  margin:0 auto 10px;
  fill: #36373e;
  opacity: 0.7;
  cursor: pointer;
}
.zoomIn:hover , .zoomOut:hover, .showGrid:hover {
  opacity: 1;
}
.levelWrap, .showWrap {
  margin-top: 20px;
}
.levelBtn {
  padding: 7px;
  border: 2px solid #36373e;
  opacity: 0.7;
  border-radius: 50%;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  margin: 5px 10px;
  cursor: pointer;
}
.levelBtn.active {
  opacity: 1;
  background: #36373e;
  /* border-color: rgb(40, 93, 240); */
  color: #fff;
}
.levelBtn:hover {
  opacity: 1;
}
