.ddShapesWrapper {
    /*display: flex;*/
}
.size3 img{
    width: 40px;
}
.size2 img{
    width: 30px;
}
.size1 img{
    width: 20px;
}

.dragShape {
    position: relative;
}
.dragItem {
    margin: 0 auto 10px;
    height: 40px;
}

.dragItem.hover {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    margin-left: -25px;
    top: 0;
}

.hover {
    opacity: 0;
    visibility: hidden;
}
.dragShape:hover .hover {
    opacity: 1;
    visibility: visible;
}

.dragItem {
    cursor: grabbing;
    position: relative;
}

.dragItem.hover.size1 {
    margin-left: -55px;
}
.dragItem.hover.size1 img {
    transform: translateY(10px);
}
.dragItem.hover.size2 img {
    transform: translateY(5px);
}

.number {
    position: absolute;
    font-size: 12px;
    left: 0;
    top: 14px;
    line-height: 1;
    width: 100%;
    z-index: -1;

}
